.navbar, .footer {
    background-color: white !important;
}

.btn{
    background-color: #EC6000 !important;
}
.navbar-brand{
    font-size: 27px !important;
    color: #B13C25  !important;
}
.testimonials{
    background-color: #B13C25 !important;
}
.img-fluid{
    border-radius: 50% !important;
}
.font-weight-light{
    color: white !important;
}
h5, .test-color{
    color: #ECE73F !important;
}
.footer-cor, .bi-facebook, .bi-twitter, .bi-instagram{
    color: #EC6000 !important;
}
.titulo-cursos{
    color: #21455E !important;
}
span{
    color: #B13C25;
    font-weight: 400;
}
.titulo-prin{
    color: #21455E;
    font-size:45px;
}